<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>data siswa</title>
</head>
<body>
    <h1>data siswa</h1>
    <table>
        <tr><th>Nama:</th><td>${malas.nama}</td></tr>
        <tr><th>Tempat Lahir:</th><td>${malas.tempatlahir}</td></tr>
        <tr><th>Tanggal Lahir:</th><td>${malas.tanggallahir}</td></tr>
        <tr><th>Alamat:</th><td>${malas.alamat}</td></tr>
        <tr><th>Jenis Kelamin:</th><td>${malas.jeniskelamin}</td></tr>
        <tr><th>Agama:</th><td>${malas.agama}</td></tr>
        <tr><th>Bayar Komite:</th><td>${malas.komite}</td></tr>
    </table>
</body>
</html>
